<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [fill]="'clear'" (click)="dismissModal()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{data.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <form [formGroup]="form">
    <div *ngFor="let field of fields" >
      <ion-input type="{{field.type}}" name="{{field.name}}" value="{{field.name}}"></ion-input>
    </div>
  </form>
</ion-content>
